#日记保存路径
LOG_PATH = log

#日记输出等级(OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL)
LOG_LEVEL = INFO

#日记保存时间; 单位:天; 默认7天
LOG_KEEPDAYS = 7

#日记保存大小; 单位:MB; 默认1G
LOG_CAPACITY = 1024



#HTTP服务端口
HTTP_PORT = 8890

#HTTP服务监听器数量（默认4）
HTTP_LISTENERS = 4

#HTTP服务处理器数量（默认60）
HTTP_PROCESSORS = 60